body {
    font-family: sans-serif;
    background-color: rgb(25, 247, 143);
}

header img {
    height: 50px;
    width: 50px;
}
h1 {
    font-size: 36px;
    color: rgb(200, 197, 0);
    font-weight: normal;
    padding-bottom: 5px;
    text-align: center;
}
h2 {
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-weight: normal;
    padding-bottom: 5px;
    text-align: center;
}
img {
    height: 200px;
    width: 200px;
}
h3 {
    font-size: 20px;
    color: rgb(175, 172, 0);
    font-weight: normal;
    padding-bottom: 5px;
    text-align: center;
}
